.bannerdocao {
  max-width: 100%;
}

.sobre-container-doacao {
  margin-top: -50px;
  position: relative;
}

.sobre-item-doacao {
  padding: 28px 90px 20px;
  border-radius: 10px 10px 0 0;
  background-color: #f7f7f7;
}

.sobre-item-doacao p {
  text-align: center;
  font-family: var(--fonte-corpo);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.2px;
}
