@import './geral.css';

#sobre .menu li:first-child {
  color: var(--cor-detaque);
}

.sobre-item {
  background-color: #f7f7f7;
  padding: 28px 225px;
  border-radius: 10px 10px 0px 0px;
  color: var(--cor-texto);
  margin: 0 auto;
}
.sobre-item p {
  font-family: var(--fonte-corpo);
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
}

.sobre-container {
  margin-top: -50px;
  position: relative;
  z-index: 2;
  margin-bottom: 40px;
}
.nossos-valores-container {
  margin: 0 auto;
}
.nossos-valores-item {
  background-color: #00585c;

  border-radius: 20px;
  display: grid;
  grid-template-columns: 5fr 3fr;

  justify-content: end;
}

.nossos-valores-item p {
  font-family: var(--fonte-corpo);
  color: #fff;
  font-size: 22px;
  line-height: 30px;
}

.nossos-valores-item div:first-child {
  padding: 20px 50px;
}

.nossos-valores-item div:first-child h1 {
  margin-bottom: 25px;
  margin-top: 60px;
  text-align: center;
}

.nossos-valores-item img {
  border-radius: 0px 20px 20px 0px;
  object-fit: cover;
  height: 100%;
}

article h1 {
  margin-top: 40px;
  font-style: italic;
  color: #00585c;
}
article {
  margin-bottom: 100px;
}

@media (max-width: 1440px) {
  .sobre-item {
    padding: 20px 50px;
  }
  .nossos-valores-item div:first-child h1 {
    margin-bottom: 25px;
    margin-top: 0px;
    text-align: center;
  }
}

@media (max-width: 1040px) {
  .nossos-valores-item {
    justify-content: center;
  }

  .nossos-valores-item p {
    font-size: 18px;
  }
  .nossos-valores-item div:first-child {
    padding: 20px;
    justify-self: center;
  }
}

@media (max-width: 800px) {
  .sobre-item {
    padding: 30px;
  }
}

@media (max-width: 660px) {
  .nossos-valores-item {
    grid-template-columns: 1fr;
  }
  .nossos-valores-item div:nth-child(2) {
    order: -1;
  }
  .nossos-valores-item img {
    border-radius: 20px 20px 0px 0px;
  }
  .sobre-item p {
    font-size: 15px;
    line-height: 18px;
    font-weight: 300;
    text-align: center;
  }
  .nossos-valores-item p {
    font-size: 16px;
  }

  article h1 {
    font-size: 40px;
  }
}

@media (max-width: 564px) {
  .sobre-container.container {
    padding-left: 50px;
    padding-right: 50px;
  }

  article h1 {
    font-size: 15px;
  }
  article.container {
    padding-left: 50px;
    padding-right: 50px;
  }

  article .title {
    font-size: 21px;
  }
  .nossos-valores-container.container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .nossos-valores-item div:first-child h1 {
    text-align: center;
    font-size: 40px;
  }

  .nossos-valores-item div:first-child p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .nossos-valores-item div:first-child {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .sobre-container {
    margin-top: -5px;
  }
}

@media (max-width: 375px) {
  .nossos-valores-item div:first-child h1 {
    text-align: center;
    font-size: 30px;
  }

  .nossos-valores-item div:first-child p {
    max-width: 200px;
    font-size: 13px;
    text-align: center;
  }

  article .title {
    font-size: 21px;
  }
}
