.bannerdocao {
  max-width: 100%;
}

.sobre-container-doacao {
  margin-top: -50px;
  position: relative;
}

.sobre-item-doacao {
  padding: 28px 90px 20px;
  border-radius: 10px 10px 0 0;
  background-color: #f7f7f7;
}

.sobre-item-doacao p {
  text-align: center;
  font-family: var(--fonte-corpo);
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -0.2px;
}

@media (max-width: 425px) {
  .sobre-container-doacao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .sobre-item-doacao {
    width: 265px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .sobre-item-doacao p {
    font-size: 15px;
    text-align: center;
  }
}

@media (max-width: 375px) {
  .sobre-item-doacao {
    width: 200px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .sobre-item-doacao p {
    font-size: 15px;
    line-height: 18px;
    font-weight: 300;
  }
}
