{% load static %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static %} 'css/style.css'" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    {% block title %}

    {% endblock %}
    <link rel="icon" type="image/png" href="{% static %} 'img/favicon-96x96.png'" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{% static %} 'img/favicon.svg'" />
    <link rel="shortcut icon" href="{% static %} 'img/favicon.ico'" />
  </head>

  <body id="{{ idBody }}">
    <nav class="area-hamburguer">
      <input type="checkbox" class="cb-falso" />
      <div class="hamburguer">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul>
        <a class="btn-agenda-mobile" href="{% url 'doacao' %}">Quero doar</a>
        <li>
          <a href="{% url 'sobre' %}">sobre a ong</a>
        </li>
        <li>
          <a href="{% url 'voluntariado' %}">voluntariado</a>
        </li>
        <li>
          <a href="{% url 'transparencia' %}">transparência</a>
        </li>
        <li>
          <a href="{% url 'eventos' %}">eventos</a>
        </li>
        <li>
          <a href="{% url 'contato' %}">contato</a>
        </li>
      </ul>
    </nav>

    <header class="menu-secundario">
      <nav class="menu-secundario-info">
        <ul>
          <li>
            <a href="https://www.instagram.com/ong.amigoesperanca/" target="_blank"><img class="icon" src="{% static %} 'img/instagram-outline.svg'" /></a>
          </li>
          <li>
            <a href="https://www.facebook.com/ong.amigoesperanca/" target="_blank"><img class="icon" src="{% static %} 'img/facebook-outline.svg'" /></a>
          </li>
          <li>
            <a href="https://www.atados.com.br/ong/ong-amigo-esperanca-393936" target="_blank"><img style="width: 16px" src="{% static %} 'img/atados-outline.svg'" /></a>
          </li>
        </ul>
      </nav>
    </header>

    <header class="menu-principal">
      <nav class="container">
        <div class="logomenuprincipal">
          <a href="index.html"><img src="{% static %} 'img/logo.png'" alt="logo" width="111px" /></a>
        </div>
        <ul class="menu">
          <li>
            <a href="{% url 'sobre' %}">sobre a ong</a>
          </li>
          <li>
            <a href="{% url 'voluntariado' %}">voluntariado</a>
          </li>
          <li>
            <a href="{% url 'transparencia' %}">transparência</a>
          </li>
          <li>
            <a href="{% url 'eventos' %}">eventos</a>
          </li>
          <li>
            <a href="{% url 'contato' %}">contato</a>
          </li>
        </ul>
        <div class="btn-agenda" aria-label="botao agendar">
          <a href="{% url 'doacao' %}">quero doar</a>
        </div>
      </nav>

      <nav class="container-mobile">
        <div class="logo-menu-principal">
          <a href="index.html"><img src="{% static %} 'img/logo.png'" alt="logo" width="111px" /></a>
        </div>
      </nav>
    </header>

    {% block content %}

    {% endblock %}

    <footer class="container">
      <div class="footer">
        <div class="header">
          <img src="{% static %} 'img/logoLetraBranca.png'" alt="" />
          <ul>
            <li>
              <a href=""><img src="{% static %} 'img/facebook-outline.svg'" alt="" /></a>
            </li>
            <li>
              <a href=""><img src="{% static %} 'img/instagram-outline.svg'" alt="" /></a>
            </li>
            <li>
              <a href=""><img src="{% static %} 'img/atados-outline.svg'" alt="" /></a>
            </li>
          </ul>
        </div>
        <hr color="#fff" size="1px" style="margin-top: 30px; margin-bottom: 20px" />
      </div>
      <div class="footer-info">
        <ul>
          <li>Somos uma ONG dedicada a atender crianças e adolescentes de 5 a 18 anos em situação de vulnerabilidade em Blumenau.</li>
          <li>Todas as doações para a Amigo Esperança, uma organização sem fins lucrativos, são dedutíveis de impostos.</li>
        </ul>

        <ul>
          <li>Contate-nos</li>
          <li>Rua Erich Belz, 1257</li>
          <li>Itoupava Central, Blumenau</li>
          <li>ongamigoesperanca@gmail.com</li>
          <li>(47) 99957-3930</li>
        </ul>

        <ul>
          <li>
            <a href="{% url 'sobre' %}">Sobre Nós</a>
          </li>
          <li>
            <a href="{% url 'voluntariado' %}">Voluntariado</a>
          </li>
          <li>
            <a href="{% url 'eventos' %}">Eventos</a>
          </li>
          <li>
            <a href="{% url 'doacao' %}">Doe</a>
          </li>
          <li>
            <a href="{% url 'area-restrita' %}">Área Restrita</a>
          </li>
        </ul>
      </div>
    </footer>
    <div class="copy container" style="background-color: #fff">© Copyright 2024 | ONG Amigo Esperança | Todos os direitos reservados</div>

    {% block script %}

    {% endblock %}

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </body>
</html>
