{% extends './partials/base.html' %}
{% load static %}
{% block title %}
  Voluntariado
{% endblock %}

{% block content %}
  <div class="banner-sobre">
    <img src="{% static 'img/banner-voluntariado.jpg' %}" alt="" />
  </div>

  <section class="sobre-container container" data-aos="fade-up">
    <div class="sobre-item">
      <h1 class="title" id="vol">Voluntariado</h1>
      <p style="text-align: center">Junte-se à Amigo Esperança e ajude a transformar o futuro de nossa comunidade.</p>
    </div>
  </section>
  <main class="container">
    <div class="primeira-linha-grid" data-aos="fade-right" data-aos-delay="500">
      <div class="primeira-linha-conteudo-texto">
        <h1>Faça diferença na vida de uma criança!</h1>
        <p>Já pensou em fazer parte de um projeto com propósito e impactar diretamente a vida de crianças e adolescentes? Quer ajudar a construir uma sociedade mais justa e cheia de oportunidades?</p>
        <br />
        <p>Na Amigo Esperança, somos uma rede de voluntários engajados em transformar a vida de jovens em situação de vulnerabilidade. Como voluntário, você terá a oportunidade de contribuir com atividades educativas, recreativas e esportivas no contra turno escolar, ajudando essas crianças a sonhar com um futuro melhor.</p>
        <br />
        <p>Buscamos pessoas comprometidas em promover o diálogo, a educação e gerar uma mudança positiva na realidade dessas crianças. Venha fazer parte dessa transformação!</p>
      </div>
      <div class="primeira-linha-img">
        <img src="{% static 'img/img-primeira-linha.png' %}" alt="" />
      </div>
    </div>

    <div class="segunda-linha-grid" style="margin-top: 40px" data-aos="fade-left" data-aos-delay="500">
      <div class="segunda-linha-img">
        <img src="{% static 'img/img-segunda-linha.png' %}" alt="" />
      </div>

      <div class="segunda-linha-conteudo-texto">
        <h1>Voluntário de Atividades na Amigo Esperança</h1>
        <p>Os voluntários da Amigo Esperança participam da organização das atividades, oferecendo apoio e orientação às crianças atendidas. Eles ajudam a promover dinâmicas de grupo, coordenam atividades recreativas e educativas, e oferecem suporte emocional, criando um ambiente acolhedor e seguro.</p>
        <br />
        <p>Para se inscrever, é simples! Envie suas informações (nome, e-mail, telefone e disponibilidade) e nossa equipe entrará em contato assim que houver necessidade de voluntários.</p>
        <a href="{% url 'contato' %}" class="btn-doar btn-quero">Quero fazer parte !</a>
      </div>
    </div>

    <div class="grid-container-colunas">
      <div class="primeira-coluna-grid" data-aos="fade-up" data-aos-duration="700">
        <div class="primeira-coluna-img">
          <img src="{% static 'img/img-primeira-coluna.png' %}" alt="" />
        </div>
        <h1>Faça uma Doação</h1>
        <p>Contribua diretamente para a continuidade dos nossos projetos! Sua doação financeira permite que a Amigo Esperança ofereça material escolar, alimentação e atividades de qualidade para as crianças que atendemos. Com sua ajuda, conseguimos manter nossas atividades e ampliar nosso impacto. Seja uma contribuição única ou recorrente, cada valor faz a diferença. Doe agora e transforme vidas junto com a gente!</p>
        <a href="" class="btn-doar btn-doe" style="margin-top: 44px">DOE AGORA</a>
      </div>
      <div>
        <!-- coluna em branco -->
      </div>
      <div class="segunda-coluna-grid" data-aos="fade-up" data-aos-duration="700">
        <div class="segunda-coluna-img">
          <img src="{% static 'img/img-segunda-coluna.png' %}" alt="" />
        </div>
        <h1>Divulgue Nossa Causa</h1>
        <p>Você pode apoiar a Amigo Esperança mesmo sem doações financeiras! Compartilhe nossa missão e iniciativas nas suas redes sociais. Ao divulgar nosso trabalho, você ajuda a sensibilizar mais pessoas a se envolverem, seja como voluntários ou doadores. Siga, curta e compartilhe nossos conteúdos e ajude-nos a transformar o futuro de crianças em vulnerabilidade. Juntos, podemos ir ainda mais longe!</p>
        <div class="redes-sociais" style="display: flex; gap: 25px; margin-top: 68px">
          <a href="https://www.instagram.com/ong.amigoesperanca/"><img src="{% static 'img/instagram-fill-icon.svg' %}" alt="" /></a>
          <a href="https://www.facebook.com/ong.amigoesperanca/"><img src="{% static 'img/facebook-fill-icon.svg' %}" alt="" /></a>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block script %}
  <script>
    function updateAosDelay() {
      const card = document.querySelector('.card')
    
      if (window.innerWidth <= 1280) {
        card.setAttribute('data-aos-delay', '0') // Delay para mobile
      }
    }
    window.addEventListener('load', updateAosDelay)
    window.addEventListener('resize', updateAosDelay)
  </script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="{% static 'js/animation.js' %}"></script>
{% endblock %}
