{% extends './partials/base.html' %}
{% load static %}

{% block title %}
  ONG Amigo Esperança
{% endblock %}

{% block content %}
  <div class="banner">
    <div class="" data-aos="fade-left">
      <h1>
        juntos, contruímos um<br />
        futuro com mais esperança e dignidade
      </h1>

      <a href="{% url 'doacao' %}" class="btn-ajude">ajude nossa causa</a>
    </div>
  </div>

  <section class="ong-apresentacao">
    <div class="" data-aos="fade-down" data-aos-delay="600">
      <h1>Somos a ONG Amigo Esperança</h1>
      <p>Nossa missão é oferecer um ambiente seguro e acolhedor no contraturno escolar, onde os jovens podem não apenas superar as dificuldades, mas também se desenvolver plenamente, através de atividades educacionais, esportivas e culturais.</p>
      <a href="{% url 'sobre' %}" class="btn-nossahistoria">nossa história</a>
    </div>
  </section>
  <main>
    <section class="atividades container">
      <h1 class="title cp" data-aos="fade-down">Nossas Atividades</h1>
      <div class="grid-cards-container">
        <div class="card" data-aos="fade-right" data-aos-delay="400">
          <a>
            <div class="card-img">
              <img src="{% static 'img/card-img-jiujitsu.jpg' %}" alt="" />
            </div>
            <div class="card-title">
              <p class="subtitle cp">jiu jitsu</p>
            </div>
          </a>
          <div class="card-copy">
            <p class="subtitle">jiu jitsu</p>
            <p class="card-copy-text">O jiu-jitsu é uma das modalidades que compõem nosso projeto de artes marciais, cujo principal objetivo é ajudar os jovens a desenvolverem resiliência e autoconfiança. Por meio dessa prática, eles aprendem a enfrentar desafios com paciência e disciplina.</p>
            <a>Saiba mais</a>
          </div>
        </div>

        <div class="card" data-aos="fade-right" data-aos-delay="450">
          <a>
            <div class="card-img">
              <img src="{% static 'img/card-img-capoeira.jpg' %}" alt="" />
            </div>
            <div class="card-title">
              <p class="subtitle cp">capoeira</p>
            </div>
          </a>
          <div class="card-copy">
            <p class="subtitle">capoeira</p>
            <p class="card-copy-text">A capoeira é uma das modalidades que fazem parte do nosso projeto de artes marciais, com o objetivo principal de promover a cultura e o desenvolvimento pessoal dos jovens. Através dessa prática, os participantes aprendem a expressar suas emoções e a trabalhar em equipe, enquanto desenvolvem habilidades como ritmo, agilidade e coordenação.</p>
            <a>Saiba mais</a>
          </div>
        </div>

        <div class="card" data-aos="fade-right" data-aos-delay="500">
          <a>
            <div class="card-img">
              <img src="{% static 'img/card-img-karate.jpg' %}" alt="" />
            </div>
            <div class="card-title">
              <p class="subtitle cp">karatê</p>
            </div>
          </a>
          <div class="card-copy">
            <p class="subtitle">karatê</p>
            <p class="card-copy-text">O karatê é uma arte marcial que oferece aos jovens uma oportunidade de crescimento pessoal, combinando autodefesa e disciplina. A prática desenvolve não apenas habilidades físicas, mas também autocontrole emocional e concentração. Além de fortalecer o corpo e a mente, o karatê ensina valores como respeito e camaradagem, criando um ambiente de aprendizado colaborativo.</p>
            <a>Saiba mais</a>
          </div>
        </div>

        <div class="card" data-aos="fade-right" data-aos-delay="400">
          <a>
            <div class="card-img">
              <img src="{% static 'img/card-img-futebol.jpg' %}" alt="" />
            </div>
            <div class="card-title">
              <p class="subtitle cp">futebol</p>
            </div>
          </a>
          <div class="card-copy">
            <p class="subtitle">futebol</p>
            <p class="card-copy-text">Com a ONG Amigo Esperança, o futebol vai além do jogo: crianças e adolescentes desenvolvem cooperação, amizade e compromisso. A prática incentiva espírito de equipe, tornando-os atletas e cidadãos melhores.</p>
            <a>Saiba mais</a>
          </div>
        </div>

        <div class="card" data-aos="fade-right" data-aos-delay="450">
          <a>
            <div class="card-img">
              <img src="{% static 'img/card-img-ingles.jpg' %}" alt="" />
            </div>
            <div class="card-title">
              <p class="subtitle cp">inglês</p>
            </div>
          </a>
          <div class="card-copy">
            <p class="subtitle">aulas de inglês</p>
            <p class="card-copy-text">A ONG Amigo Esperança oferece aulas de inglês, abrindo portas para um futuro globalizado. Jovens aprimoram habilidades de comunicação e descobrem novos mundos, preparando-se para oportunidades internacionais.</p>
            <a>Saiba mais</a>
          </div>
        </div>

        <div class="card" data-aos="fade-right" data-aos-delay="500">
          <a>
            <div class="card-img">
              <img src="{% static 'img/card-img-conversa.jpg' %}" alt="" />
            </div>
            <div class="card-title">
              <p class="subtitle cp">culturais</p>
            </div>
          </a>
          <div class="card-copy">
            <p class="subtitle">Atividades culturais</p>
            <p class="card-copy-text">Com atividades culturais, a ONG Amigo Esperança traz para jovens a diversidade de tradições e valores. Eles exploram artes, histórias e costumes, despertando o respeito e orgulho por diferentes culturas.</p>
            <a>Saiba mais</a>
          </div>
        </div>

        <div class="card" data-aos="fade-right" data-aos-delay="400">
          <a>
            <div class="card-img">
              <img src="{% static 'img/card-img-musicais.jpg' %}" alt="" />
            </div>
            <div class="card-title">
              <p class="subtitle cp">musicais</p>
            </div>
          </a>
          <div class="card-copy">
            <p class="subtitle">aulas de música</p>
            <p class="card-copy-text">A ONG Amigo Esperança oferece aulas de música, onde crianças e adolescentes experimentam violão e bateria. Além de aprenderem técnicas, a música desperta emoção e promove um ambiente de criatividade e conexão.</p>
            <a>Saiba mais</a>
          </div>
        </div>

        <div class="card" data-aos="fade-right" data-aos-delay="450">
          <a>
            <div class="card-img">
              <img src="{% static 'img/card-img-meditacao.jpg' %}" alt="" />
            </div>
            <div class="card-title">
              <p class="subtitle cp">meditação</p>
            </div>
          </a>
          <div class="card-copy">
            <p class="subtitle">aulas de meditação</p>
            <p class="card-copy-text">Na ONG Amigo Esperança, a meditação ensina jovens a relaxar, respirar e focar no presente. Essa prática promove o equilíbrio emocional, a resiliência e o controle da ansiedade, permitindo que eles gerenciem o estresse e enfrentem desafios diários com mais calma e clareza. A meditação oferece um espaço seguro para a auto-reflexão, ajudando a cultivar uma mente tranquila e centrada.</p>
            <a>Saiba mais</a>
          </div>
        </div>

        <div class="card" data-aos="fade-right" data-aos-delay="500">
          <a>
            <div class="card-img">
              <img src="{% static 'img/card-img-yoga.jpg' %}" alt="" />
            </div>
            <div class="card-title">
              <p class="subtitle cp">yoga</p>
            </div>
          </a>
          <div class="card-copy">
            <p class="subtitle">yoga</p>
            <p class="card-copy-text">As aulas de yoga da ONG Amigo Esperança fortalecem corpo e mente, ajudando jovens a cultivar paz e autoconfiança. Aprendem posturas e técnicas de respiração, encontrando harmonia no próprio ritmo.</p>
            <a>Saiba mais</a>
          </div>
        </div>

        <div class="card" data-aos="fade-right" data-aos-delay="400">
          <a>
            <div class="card-img">
              <img src="{% static 'img/card-img-alimentacao.jpg' %}" alt="" />
            </div>
            <div class="card-title">
              <p class="subtitle cp">alimentação</p>
            </div>
          </a>
          <div class="card-copy">
            <p class="subtitle">Atividades recreativas</p>
            <p class="card-copy-text">Por meio do nosso projeto alimentar, oferecemos oficinas de nutrição que garantem que os jovens tenham acesso a refeições adequadas, especialmente durante e após as atividades da ONG. Essas oficinas promovem a importância de uma alimentação equilibrada, assegurando que cada jovem receba o cuidado e a atenção que merece.</p>
            <a>Saiba mais</a>
          </div>
        </div>
      </div>
      <!-- fim do grid cards -->
    </section>
    <!-- fim section atividades -->

    <section class="info-dados">
      <div class="grid-info-dados-container">
        <div class="historia">
          <ul>
            <li class="title-dados">Fundada em 2008</li>
            <li class="text-serif-dados">16 anos</li>
          </ul>
          <ul>
            <li class="title-dados">Crianças atendidas</li>
            <li class="text-serif-dados">+600</li>
          </ul>
          <ul>
            <li class="title-dados">Unidade I</li>
            <li class="text-serif-dados">Erich Belz</li>
          </ul>
          <ul>
            <li class="title-dados">Unidade II</li>
            <li class="text-serif-dados">Vila Jensen</li>
          </ul>
        </div>
        <div class="texto-doacao">
          <p>
            Suas doações apoiam nossa capacidade de atender
            <span class="cd">mais de 600</span> crianças mensais e a continuar transformando vidas em <span class="cd">Blumenau</span>.
          </p>
          <a href="{% url 'doacao' %}" class="btn-doar">doe agora</a>
        </div>

        <div class="doacao-valores">
          <ul>
            <li>
              <img src="{% static 'img/livro.svg' %}" alt="" data-aos="zoom-in-up" />
            </li>
            <li>
              R$ <span class="counter" data-target="50">0</span>
            </li>
            <li>Apoia a aquisição de novos materiais didáticos</li>
          </ul>
          <ul>
            <li>
              <img src="{% static 'img/garfofaca.svg' %}" alt="" data-aos="zoom-in-up" />
            </li>
            <li>
              R$ <span class="counter" data-target="100">0</span>
            </li>
            <li>Apoia o projeto alimentar na aquisição de refeições para as crianças</li>
          </ul>
          <ul>
            <li>
              <img src="{% static 'img/teacher.svg' %}" alt="" data-aos="zoom-in-up" />
            </li>
            <li>
              R$ <span class="counter" data-target="250">0</span>
            </li>
            <li>Apoia na elaboração de novos eventos</li>
          </ul>
          <ul>
            <li>
              <img src="{% static 'img/pc.svg' %}" alt="" data-aos="zoom-in-up" />
            </li>
            <li>
              R$<span class="counter" data-target="1000">0</span>
            </li>
            <li>Apoia o trabalho mensal de um professor da ONG</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="coleta-email-container">
      <div class="coleta-email-item" data-aos="fade-up">
        <h1>Junte-se a nossa lista de e-mails, inscreva-se abaixo</h1>
        <form action="" method="POST">
          {% csrf_token %}
          <label for="nome">Nome <span class="cd">*</span></label>
          <input type="text" id="nome" name="nome" />
          <label for="sobrenome">Sobrenome <span class="cd">*</span></label>
          <input type="text" id="sobrenome" name="sobrenome" />
          <label for="email">Email <span class="cd">*</span></label>
          <input type="email" id="email" name="email" />
          <button type="submit" class="btn-inscrever">Inscrever-se</button>
        </form>
      </div>
    </section>
  </main>
{% endblock %}

{% block script %}
  <script>
    // Função que altera o delay baseado no tamanho da tela
    function updateAosDelay() {
      const card = document.querySelector('.card')
    
      if (window.innerWidth <= 1280) {
        card.setAttribute('data-aos-delay', '0') // Delay para mobile
      }
    }
    window.addEventListener('load', updateAosDelay)
    window.addEventListener('resize', updateAosDelay)
  </script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="{% static 'js/animation.js' %}"></script>
{% endblock %}
