{% extends './partials/base.html' %}
{% load static %}

{% block title %}
  transparencia
{% endblock %}

{% block content %}
  <div class="banner-sobre">
    <img src="{% static 'img/banner-transparencia.jpg' %}" alt="" />
  </div>
  <section class="sobre-container container" data-aos="fade-up">
    <div class="sobre-item">
      <h1 class="title">Transparência</h1>
      <p style="text-align: center">A ONG Amigo Esperança segue práticas de transparência rigorosas, disponibilizando informações claras sobre suas atividades e movimentações financeiras.</p>
    </div>
  </section>
  <main class="container">
    <div class="grid-conteudo">
      <div class="relatorios" data-aos="fade-up" data-aos-delay="600">
        <h1>Relatórios Anuais</h1>
        <div class="grid-item">
          <img src="{% static 'img/img-1-transparencia.png' %}" alt="" />
          <div>
            <p>Relátorio de 2023</p>
            <a href="">Baixar PDF</a>
          </div>
        </div>
        <div class="grid-item">
          <img src="{% static 'img/img-2-transparencia.png' %}" alt="" />
          <div>
            <p>Relátorio de 2022</p>
            <a href="">Baixar PDF</a>
          </div>
        </div>
        <div class="grid-item">
          <img src="{% static 'img/img-3-transparencia.png' %}" alt="" />
          <div>
            <p>Relátorio de 2021</p>
            <a href="">Baixar PDF</a>
          </div>
        </div>
        <h1 class="titulo-rela">Relatório de 2020</h1>
        <h1 class="titulo-rela">Relatório de 2019</h1>
      </div>
      <div class="outros-documentos" data-aos="fade-left" data-aos-delay="500">
        <p>
          Atendemos aos mais altos padrões de
          <span class="cd">supervisão</span> e
          <span class="cd">responsabilidade</span> de instituições de cunho social e temos o prazer de fornecer informações financeiras, fiscais e de credenciamento.
        </p>
        <h1>Outros Documentos</h1>
        <a href="">Projeto de Atividades</a>
      </div>
    </div>
  </main>
{% endblock %}
{% block script %}
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="{% static 'js/animation.js' %}"></script>
{% endblock %}
